.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    > header {
        height: 30%;
        > h1 {
            font-size: 4em;
            border-bottom: 1px solid gray;
        }
    }
}

@media screen and (max-width : 768px) {
    .container {
        > header {
            > h1 {
                font-size: 2em;
            }
        }
    }
}