.container {
    > header {
        margin-top: 3em;
        margin-bottom: 3em;
        border-bottom: 1px solid gray;
    }
    > main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        > .link {
            width: 100%;
            > hr {
                width: 100%;
                height: 2px;
                color: gray;
                background-color: gray;
            }
            display: flex;
            flex-direction: column;
            > div {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;
                > ion-button {
                    width: 100%;
                }
            }
        }
    }
}